<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>storeroom</ion-title>
    <ion-icon style="font-size: 30px; font-weight: bolder;" routerLink="/home" slot="end" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name" (ionInput)="filterInventory()"></ion-searchbar>

  <!-- Animation for filter items -->
  <ion-item [@fadeInOut]="'inOutAnimation'">
    <ion-label>Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
      <ion-select-option value="Plastics">Plastics</ion-select-option>
      <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item [@fadeInOut]="'inOutAnimation'">
    <ion-label>Filter by Quantity</ion-label>
    <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="tooLow">Too Low</ion-select-option>
      <ion-select-option value="runningLow">Running Low</ion-select-option>
      <ion-select-option value="middle">Middle</ion-select-option>
      <ion-select-option value="full">Full</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Animation for segment buttons -->
  <ion-segment [@fadeInOut]="'inOutAnimation'" value="storeroom">
    <ion-segment-button value="custom" routerLink="/home">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" routerLink="/view">
      <ion-label>Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/storeroom">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Animation for inventory items -->
  <ion-card class="inventory-item" *ngFor="let item of filteredInventory" [@fadeInOut]="'inOutAnimation'">
    <ion-card-header class="animated-header">
      <ion-card-title>
        <ion-icon name="basket-outline"></ion-icon>
        {{ item.name }}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="animated-content">
      <p>
        <ion-icon name="pricetags-outline"></ion-icon>
        Category: {{ item.category }}
      </p>
      <p>
        <ion-icon name="document-text-outline"></ion-icon>
        Description: {{ item.description }}
      </p>
      <p>
        <ion-icon name="cube-outline"></ion-icon>
        Quantity: {{ item.quantity }}
      </p>
      <p>
        <ion-icon name="barcode-outline"></ion-icon>
        Barcode: {{ item.barcode }}
      </p>
      <p>
        <ion-icon name="person-outline"></ion-icon>
        Picker's Details: {{ item.pickersDetails }}
      </p>
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        Date Of Pickup: {{ item.dateOfPickup }}
      </p>
      <p>
        <ion-icon name="time-outline"></ion-icon>
        Time Of Pickup: {{ item.timeOfPickup }}
      </p>
      <img class="thumbnail" [src]="item.imageUrl" alt="{{ item.name }} Image">
    </ion-card-content>
  
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button (click)="openModal(item.imageUrl, item.name)" color="secondary" expand="block">
          <ion-icon name="eye-outline"></ion-icon>
          View
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <!-- Modal animation -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" [@fadeInOut]="'inOutAnimation'">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="selectedImageUrl" alt="Full Image">
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
