
<ion-header [translucent]="true" class="ion-no-margin ion-no-padding">
  <ion-toolbar class="ion-text-center">
    <ion-title>My Shop</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <ion-menu side="start" menuId="main-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet>
      <ion-list>
        <ion-item (click)="goToStoreroomPage()">
          <ion-icon name="cube-outline" slot="start"></ion-icon>
          <ion-label>Storeroom</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>Store</ion-label>
        </ion-item>
      </ion-list>
    </ion-router-outlet>
  </ion-menu>

  <ion-router-outlet #content></ion-router-outlet>

  <div class="ion-margin-top">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by barcode" (ionInput)="filterInventory()" showCancelButton="focus"></ion-searchbar>
  </div>
  

  <div class="ion-margin-top" >
    <ion-grid >
      <ion-row>
        <ion-col size-md="6" size-lg="4" *ngFor="let item of inventory" class="ion-margin-bottom">
          <ion-card class="animated-item">
            <ion-card-header class="ion-text-center">
              <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-center">
                <img *ngIf="photo.length > 0" [src]="item.imageUrl" alt="{{ item.name }} Image" class="item-image">
              </div>
              <ion-list lines="none">
                <ion-item>
                  <ion-icon name="pricetag-outline" slot="start"></ion-icon>
                  <ion-label>Category: {{ item.category }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="cube-outline" slot="start"></ion-icon>
                  <ion-label>Quantity: {{ item.quantity }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="barcode-outline" slot="start"></ion-icon>
                  <ion-label>Barcode: {{ item.barcode }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="person-outline" slot="start"></ion-icon>
                  <ion-label>Picker's Details: {{ item.pickersDetails }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="calendar-outline" slot="start"></ion-icon>
                  <ion-label>Date Of Pickup: {{ item.dateOfPickup }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="time-outline" slot="start"></ion-icon>
                  <ion-label>Time Of Pickup: {{ item.timeOfPickup }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-end ion-no-padding ion-padding-horizontal">
              <ion-col size="6">
                <ion-button (click)="goToUpdate(item.name,item.category,item.description,item.quantity,item.barcode,item.pickersDetails,item.dateOfPickup,item.timeOfPickup ,item.imageUrl )" color="primary" expand="block">
                  <ion-icon name="create-outline"></ion-icon>
                  Add Store
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="openModal(item.imageUrl, item.name)" color="secondary" expand="block" shape="round">
                  <ion-icon name="eye-outline" slot="start"></ion-icon>
                  View
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="selectedImageUrl" alt="Full Image" class="full-image">
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>